*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;

}
html,body{
    height: 100%;
    width: 100%;

}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position:fixed;
    z-index: 8;
    background-color: #EDBFFF;
    transition:  trannsform  0.1s ease-in-out ;
    mix-blend-mode: difference;
}

#main{
    background-color: #0F0D0E;
}
#page-1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
   

}
#navpart2 h3{
    font-size:11px;
    font-weight: 200;


}
#nav{
    height: 50px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#navpart2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
#circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}
#navpart-3{
   display: flex;
   align-items: center;
}
#page-1 h1{
    font-family: "PP Mori";
    font-size: 6vw;
    color: #ddcece;
    margin-top: 10%;
    margin-left: 20%;
}
#page-1 h2{
    font-family: "PP Mori";
    font-size: 6vw;
    color: #ddcece;
    margin-left: 30%;
}
#page-1 video{
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 10%;
    border-radius: 10px;
    height: 10%;
}
#page-2{
    height: 63vw;
    width: 100%;
    padding: 10vw 5vw;
    border-bottom: 1px solid rgb(126, 119, 119,0.5);
    position: relative;
    z-index: 9;
    opacity: 0;

}
#page-2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    padding: 0 3vw;
   

}
#page-2 h2{
    font-size: 5vw;
    font-weight: 600;
    font-family: "PP Mori";
    margin-bottom: 8vw;
    color: #0F0D0E;
    opacity: 0;
    transition: opacity ease-in-out 0.1s;
   
}
#page-2-left {
    width: 27%;
    font-size: 2vw;
    


}
#page-2-left h3{
    font-weight: 100;
    font-family: "PP Mori";
    line-height: 2.5vw;
    color: #0F0D0E;
    font-size: 2vw;

}
#page-2-right{
    width: 37%;
}
#page-2-right p{
    font-size: 1.4vw;
    line-height: 2.5vw;
    color: #0F0D0E;
    font-size: 20px;
}
#page-2-right button{
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 20px;
    border: none;
    padding:4px 0;
    margin-top: 3%;
    background-color:rgb(0, 81, 255);
    color: #fff;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
     cursor: pointer;
}
#page-3{
    height:130vh;
    width: 100%;
    padding: 1vw 5vw;
    position: relative;
    z-index: 9;
    border-bottom: 1px solid rgb(126, 119, 119,0.5);
    


}
#page-3 h3{
    color: #0F0D0E;
    font-size: 3vw;
    font-weight: 600;
    font-family: "PP Mori";
    margin-bottom: 10vw;
    
    
}
#page-3-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10%;


}
#page-3-container h4,p{
    color: #0F0D0E;
    font-family: "PP Mori";
}
#page-3-container h4{
    margin-top: 2vw;
}

#page-3-container h5{
    color: rgb(0, 81, 255);
    font-weight: 900;
    font-size: 5vw;
    margin-bottom: 2vw;




}
#page-3-left1{
    padding: 0vw 0.5vw;
    position: relative;
    top: -15%;
    transform: translate(0,-20%);
    height: 39vw;
    width: 33vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 5px 4px rgb(221, 214, 214);
}
#page-3-left1 i{
    color: blue;
}

#page-3-content-container{
    height: 20vw;
    
}
#page-3-content-container p{
    line-height: 3.5vw;
    
    font-size: 16px;
    padding:0px 15px;
    
}
#page-3-left1 button{
    width: 120%;
    padding: 5px;
    height: 40px;
    background-color:rgb(0, 81, 255) ;
    border: none;
    color: #fff;
    font-family: "PP Mori";
    text-align: center;
    margin-top: 5vw;
    position: relative;
    left: -2%;
    transform: translate(-2%,0);
}

#page-3-right1{
    position: relative;
    top: -15%;
    transform: translate(0,-20%);
    height: 39vw;
    width: 35vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 5px 4px rgb(177, 170, 170);
}
#page-3-right1 h4{
    color: #0F0D0E;
}

#page-3-right1 i{
    color: blue;
}

#page-3-content-container2{
    height: 20vw;
    
}

#page-3-content-container2 p{
    line-height: 3vw;
    padding:0px 20px;
    
    
}

#page-3-right1 button{
    width: 100%;
    padding: 5px;
    height: 40px;
    background-color:rgb(0, 81, 255) ;
    border: none;
    color: #fff;
    font-family: "PP Mori";
    text-align: center;
    margin-top: 3.6vw;
}

#page-3-right2{
    position: relative;
    top: -15%;
    transform: translate(0,-20%);
    height: 39vw;
    width: 35vw;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 5px 4px rgb(177, 170, 170);
}


#page-3-right2 h4{
    color: #0F0D0E;
}

#page-3-right2 i{
    color: blue;
}

#page-3-content-container3{
    height: 20vw;
    
}

#page-3-content-container3 p{
    line-height: 3vw;
    margin-bottom: 13vw;
    padding:0px 20px;
    
}

#page-3-right2 button{
    width: 100%;
    padding: 5px;
    height: 40px;
    background-color:rgb(0, 81, 255) ;
    border: none;
    color: #fff;
    font-family: "PP Mori";
    text-align: center;
}


#page-4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 100px;
    z-index: 9;
    transition: all ease-in 0.3s;
    

}

#page-4 h3{
    font-family: "PP Mori";
    color: #fff;
    
}
.elem{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1%;
}
.elem h2{
    font-size: 6vw;
    text-transform: uppercase;
    color: #0F0D0E;
    opacity: 0;
    transition: all ease-in-out 0.4s; 

    
    

}
.elem:hover h2{
    transform: translateY(-100%);
    color: rgb(0, 81, 255);
    
}



.textcontentinsideelem{
   
    height:100px;
    overflow: hidden;
}
.elem img{
    position: absolute;
    opacity: 0;
    transform: translateY(10%) rotate(2deg);
    transition: all ease-out 0.5s;


}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
.elem :nth-child(1){
     left: -1%;

}
.elem :nth-child(3){
    right: -1%;
    top: 10%;
}
.ptagcontent{
    height: 20%;
    width:50% ;
    position: absolute;
    top: -10%;
    left: 15%;
    transform: translate(-15%,-10%)
    
    
    
    
}
#page-4 p{
    font-size: 1vw;
    font-family: "PP Mori";
    text-transform: capitalize;
    color: #0F0D0E;
    margin-top: 20px;
    display: none;

}
.ptagcontent h2{
    font-size: 2.5vw;
    font-family: "PP Mori";
    color: #0F0D0E;
    opacity: 1;
   
    
}



#page-5{
    min-height: 60vw;
    width: 100%;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    position: relative;
    z-index: 9;
    padding: 70px 30px;
    
    



    
    
    
}
#page-5innerconatiner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    height: 13vw;

}

#page-5container1{
    display: flex;
    justify-content: space-between ;
    align-items: flex-start;
    width: 80%;

   
    
}


#adap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 100px;
    width: 250px;
   
}
#adap a{
    text-decoration: none;
    font-size: 16px;
}


#comapny{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 100px;
    width: 250px;
}

#comapny a{
    text-decoration: none;
    font-size: 16px;
}



#broker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 100px;
    width: 250px;
}

#broker a{
    text-decoration: none;
    font-size: 16px;
}

#page-5imagecontainer{
    position: relative;
       width: 20%;
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       line-height: 4vw;
}
#page-5imagecontainer img{
    height: 100px;
    width: 100px;
    position: relative;
    left: 120%;
    transform: translate(-120%,0%);
}
#page-5imagecontainer #icondic{
    position: relative;
    left: 135%;
    transform: translate(-105%,0%);
}


#icondic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#page-5innercontainer2{
    width: 100%;
    height: 18vw;
    
    margin-top: 7%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    
}
#page-5innercontainer2-left{
    height: 100%;
    width: 60%;
    
}
#page-5innercontainer2-left p{
    font-size: 11px;
    line-height: 2vw;
    color: #fff;
    font-family: "PP Mori";
}
#page-5innercontainer2-right {
    width: 40%;
    height: 100%;
    position: relative;
}


#page-5innercontainer2-right img{
    
    height: 200px;
    width: 230px;
    position: absolute;
    left: 30%;
}